{
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "cursorOffset": -1,
    "proseWrap": "always",
    "singleQuote": false,
    "quoteProps": "preserve"
}