@use "core";
@use "maps";

// ============================================================
//  UTILS · FLEXBOX
//  Clases utilitarias de flexbox.
//  Ópt-in: @include flex.generate-flex-utilities();
// ============================================================

/// Genera flex-direction, flex-wrap, align-items,
/// justify-content y gap-{size}.
@mixin generate-flex-utilities(
  $direction: maps.$flex-direction-map,
  $wrap: maps.$flex-wrap-list,
  $align: maps.$align-items-map,
  $justify: maps.$justify-content-map,
  $gap: maps.$gap-sizes-map
) {
  @include core.utils-classes($direction, flex-direction, "flex");
  @include core.utils-classes($wrap, flex-wrap, "flex");
  @include core.utils-classes($align, align-items, "items");
  @include core.utils-classes($justify, justify-content, "justify");
  @include core.utils-classes($gap, gap, "gap");
}
